{% include base_path %}

{% assign title = post.title %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h3 class="archive__item-title" itemprop="headline">
      {loop.index}. <a href="{{ post.paperurl }}" target="_blank">{{ title }}</a>
    </h3>
    
    <p>
      {{ post.authors }},
      <i>{{ post.journal }}</i>, 
      {{ post.date | default: "1900-01-01" | date: "%Y" }}
      {% if post.arxivurl %}[<a href=" {{ post.arxivurl }}" target="_blank">arXiv</a>]{% endif %}
    </p>

  </article>
</div>
